## Typecasting in python

- The conversion of one data type into another data type is known as type casting

- Python supports is a wide variety of function or methods like: int(), float(), str(), hex(), oct(), tuple(), set(), list(), dict(), etc. for the type of casting in python.

In [1]:
a = "1"
b = "2"

print(int(a) + int(b))

3

## 游대 1. Integer to Float

In [2]:
x = 5
y = float(x)
print(y)

5.0

## 游대 2. Float to Integer

In [3]:
x = 9.3
y = int(x)
print(y)

9

## 游대 3. String to Integer

In [4]:
x = "123"
y = int(x)
print(y)

123

## 游대 4. String to Float

In [5]:
x = "56.78"
y = float(x)
print(y)

56.78

## 游대 5. Integer to String

In [7]:
x = 100
y = str(x)
print(y + " is a number")  # Output: 100 is a number

100 is a number

## 游대 6. Float to String

In [8]:
x = 12.34
y = str(x)
print("The value is " + y)  # Output: The value is 12.34

The value is 12.34